header{
    padding-top: 22px;
    padding-bottom: 22px;
    background: white;
    border-bottom: 1px solid teal;
    position: sticky;
    top: 0; /* Sticks to the top */
    z-index: 1000; /* Ensures it's above other content */
}
.logo{
    width: 90px;   
}
.logo:hover{
    cursor: pointer;
}
.desktop_menu{
    margin-top: 24px;
}
.desktop_menu ul{
    padding: 0;
    margin: 0;
}
.desktop_menu ul li{
    list-style-type: none;
    display: inline-block;
    font-size: 18px;
    margin-left:26px;
    padding-top:10px;
    padding-bottom:10px;
}
.desktop_menu ul li:hover{
    cursor: pointer;
    color: #2e9184;
}
.menu-icon{
    display: none;
}
.TowButton{
    padding: 0;
    margin-top: 24px;
    font-size: 18px;
}
.TowButton button{
    margin: 2px;
    /* padding: 5px; */
}
.languageButton{
    color: #2e9184;
    background: white;
    border: #2e9184 2px solid;
    font-weight: bold;
}
.sessionButton{
    color: white;
    background: #2e9184;
    font-weight: bold;
}

@media screen and (min-width:128px) and (max-width:900px) {
    .desktop_menu{
        position: absolute;
        right: -100%;
        transition: 0.4s ease-in-out;
        top: 64px;
        background:white ;
        color: white;
        width:100%;
        height: 100%;
        z-index: 10;
        overflow-y: scroll;
    }
    body.desktop_menu{
        overflow-y: hidden;
        padding-right: 15px; /* Avoid width reflow */

    }
    .desktop_menu ul li{
        display: block;
        text-align: right;
        margin: 0;
        margin-right: 13px;
        padding: 10px 0px 26px;
    }
    .desktop_menu ul li:hover{
        cursor: pointer;
        color: white;
    }
    .menu-icon{
        display: block;
        color: black;
        font-size: 40px;
        padding: 10px;
        margin-right: 85% ;
    }
    .mobile_menu{
        right: 0;
        transition: 0.44s ease-in-out;

    }
    .logo{
        margin: 5px;
        width: 70px;   
    }
    .TowButton{
        display: none;
    }
}

