<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="logo-container">
                    <a href="#"><img src="assets/images/ThuluthLogo.png" alt="Thuluth logo" class="logo">
                    </a>
                    </div>
            </div> <!-- first column -->

            <div class="col-md-6 col-sm-9 col-9">
                <div class="menu-icon" (click)="openMenu()" >
                    <i class="{{menuIcon}}"></i>
                </div>
                <div class="desktop_menu" [class.mobile_menu]="menuValue" >
                    <ul>
                        <li><a class="nav-link  text-white  " routerLink="/home"><span class="text-black" (click)="closeMenu()">الرئيسة</span></a></li>
                        <li><a class="nav-link  text-white  " routerLink="/join"><span class="text-black" (click)="closeMenu()">انضم لثلث</span></a></li>
                    </ul>
                </div>
            </div> <!-- second column -->

            <div class="col-md-2 TowButton">
                <button type="button" class="btn btn-primary sessionButton"> جلسات فورية</button>
                <button type="button" class="btn btn-primary languageButton">EN</button>
            </div> <!-- third column-->
        </div>
    </div>

    
</header>

