<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="logo-container">
                    <img src="assets/images/ThuluthLogo.png" alt="Thuluth logo" class="logo">
                </div>
            </div> <!-- first colunm -->

            <div class="col-md-9 col-sm-9 col-9">
                <div class="menu-icon">
                    <i class="bi bi-list">

                    </i>
                </div>
                <div class="desktop_menu">
                    <ul>
                        <li> <a href="#" routerLink="/"> الرئيسية </a></li>
                        <li>ثلث للاعمال</li>
                        <li>الاستشاريون </li>
                        <li>انضم لثلث</li>
                        <li>المدونة</li>
                        <li>خدماتنا</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- 
<a href="#" routerLink="/" class="logo">
    <img src="../assets/images/TuluthLogo.png">
</a>
<nav>
    <ul>
        <li> <a href="#" routerLink="/"> الرئيسية </a></li>
        <li>ثلث للاعمال</li>
        <li>الاستشاريون </li>
        <li>انضم لثلث</li>
        <li>المدونة</li>
        <li>خدماتنا</li>
        <a href="#" routerLink="/" class="logo"></a>
    </ul>
</nav> -->