<!-- start banner-->
<div class="banner">
  <div class="container">
  <div class="row">
      <div class="col">
          <h2> انضم لثلث</h2>
          <p>عيادتك الرقميـة المتكاملــة
              أهلا بك كأحد الأطباء والأخصائيين النفسيين المرخصين لتقديم الجلسات بسهولة وخصوصية عبر التطبيق.</p>
      </div>
  </div>
  </div>
</div>


<div class="w-100 p-4 border border-2 ">nav bar</div>



<div class="form-container">
<div class="container">
  <form #f="ngForm" (ngSubmit)="add(f)">
    <div class="container border-bottom">
      <legend>معلومات أساسية</legend>
      <div class="mb-3">
        <label for="fName" class="form-label">الاسم الاول</label>
        <input type="text" class="form-control" name="fName" aria-describedby="first" ngModel>
      </div>
      <div class="mb-3">
        <label for="lName" class="form-label">الاسم الأخير</label>
        <input type="text" class="form-control" name="lName" aria-describedby="last" ngModel>
      </div>
      <div class="mb-3">
        <label for="Email" class="form-label">البريد الالكتروني</label>
        <input type="Email" class="form-control" name="email" aria-describedby="Email" ngModel>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">الجوال</label>
        <input type="number" class="form-control" name="phone" aria-describedby="phone" ngModel>
      </div>
      <div class="mb-3">
        <label for="gender" class="form-label">الجنس</label>
        <select class="form-select" name="gender" id="gender" ngModel>
          <option value="" disabled selected>اختيار</option>
          <option value="female">أنثى</option>
          <option value="male">ذكر</option>
        </select>
      </div>
    </div>
  
    <!-- More form fields... -->
  
    <div class="container mt-3 border-bottom">
      <legend>المرفقات</legend>
      <div>
        <label for="resume" class="form-label">السيرة الذاتية</label>
        <input type="file" class="form-control" name="resume" ngModel>
      </div>
      <div>
        <label for="HealthClassification" class="form-label">تصنيف هيئة التخصصات الصحية</label>
        <input type="file" class="form-control" name="healthClassification" ngModel>
      </div>
      <div>
        <label for="Degree" class="form-label">آخر مؤهل علمي</label>
        <input type="file" class="form-control" name="degree" ngModel>
      </div>
      <div>
        <label for="id" class="form-label">الهوية</label>
        <input type="file" class="form-control" name="id" ngModel>
      </div>
    </div>
  
    <!-- Submit Button -->
    <div class="container mt-5 d-flex justify-content-center">
      <button type="submit" class="btn btn-success" style="width: 30%; height: 45px; border-radius: 15px;">تقديم طلب</button>
    </div>
  </form>
  
</div>
</div>