
<hr>
<div class="container">
    <div class="row">
        <div class="col">
            <a href="#"><img src="assets/images/ThuluthLogo.png" alt="Thuluth logo" class="logo">
            </a>
            <p>استشارات صحية بكل خصوصية </p>
        </div>
        <div class="col" id="services">
            <h6>خدمات ثلث</h6>
            

        </div>
        <div class="col" id="join">
            <h6>انضم كمختص</h6>
        </div>
        <div class="col" id="useful-links">
            <h6>روابط هامة</h6>
        </div>
    </div>
</div>

<p class="rights">جميع الحقوق محفوظة . ثلث &copy; 2025</p>


