
<section> 
    <div class="banner">
        <div class="banner-content">
          <h1>هلابك في ثلث</h1>
          <p>استشارات صحية بكل خصوصية</p>
          <div >
             <button class="downloudButtons"><li>متوفر على </li><li><img class="storeImg" src="assets/images/game.png" alt="">app store</li> </button> 
             <button class="downloudButtons"><li>متوفر على </li><li><img class="storeImg" src="assets/images/app.png" alt="">Google store</li> </button> 
          </div>
        </div>
      </div>
    </section> <!-- Banner -->

    <section class="services"> <!-- Services -->
        <div class=" services-content">
            <h2>   منصة ثلث </h2>
            <div class="services-Container">
            <p> تطبيق لبيه هو الحل المتكامل لتقديم خدمات الرعاية والرفاهية النفسية عن بعد، عبر الجلسات والمحاضرات ومجموعات الدعم المقدمة من المختصين المرخصين. حمل تطبيق لبيه و ابدأ رحلة التعافي الآن.
            </p>
        </div>
        <div class="container">

            <div class="services-card">
                <i class="bi bi-calendar-check Serve-Icons"></i>
                <div>
                    <span>جلسات مجدولة</span>
                </div>
            </div>
            
            <div class="services-card">
                <i class="bi bi-clock-history Serve-Icons"></i>
                <div>
                    <span>جلسات فورية</span>
                </div>
            </div>
            <div class="services-card">
                <i class="bi bi-chat-dots Serve-Icons"></i>
                <div>
                    <span>مجموعات دعم</span>
                </div>
            </div>
            <div class="services-card">
                <i class="bi bi-check2-circle Serve-Icons"></i>
                <div>
                    <span>برامج علاجية</span>
                </div>
            </div>            
            </div>
        </div>
    </section>

    <section class="downloadNow"> <!-- download the App Now -->
        <div>
            <h2 class="download-item"> خصوصية. جودة. أمان</h2>
            <p class="download-item">جلسات نفسية على مدار الساعة ، بأمان وخصوصية ، يقدمها لك أفضل الأطباء و المعالجين النفسيين المرخصين.</p>
            <button class="download-item">حمل التطبيق الان</button>
        </div>
    </section>