<section class="banner">
  <div class="container">
  <div class="row-auto justify-content-center">
      <div class="col-auto text-center">
          <h1> هلابك في ثلث</h1>
          <h5>استشارات صحية بكل خصوصية</h5>
          <div>
              <div class=".col-6 .col-md-4 mt-5 ">
                  <button class="btn btn-primary rounded-3 ms-1 pt-0 pb-0" style="font-size: 12px; height: 40px;" type="button"><ul><li>متوفر على</li><li class="bi bi-apple">app store</li></ul></button>
                  <button class="btn btn-primary rounded-3 me-1 pt-0 pb-0" style="font-size: 12px; height: 40px;" type="button"><ul><li>متوفر على</li><li class="bi bi-apple">Google store</li></ul></button>
                </div>
          </div>
      </div>
  </div>
</div>
</section>

<section>
<div class="container" style="height: 30rem;">
  <div class="row justify-content-center align-items-center" style="height: 100%; width: 100%;">
    <div class="col-auto text-center mt-5">
      <h2>منصة ثلث</h2>
      <p>تطبيق لبيه هو الحل المتكامل لتقديم خدمات الرعاية والرفاهية النفسية عن بعد، عبر الجلسات والمحاضرات ومجموعات الدعم المقدمة من المختصين المرخصين. حمل تطبيق لبيه و ابدأ رحلة التعافي الآن.</p>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
        <!-- First card -->
        <div class="col">
          <div class="card border-0 mb-0" style="width:18rem;">
            <i class="bi bi-calendar-check Serve-Icons" style="font-size: 50px; color: #8da5ba"></i>
            <div class="card-body"><h5 class="card-title"style="font-size: 18px;">جلسات مجدولة</h5></div>
          </div>
        </div>

        <!-- Second card -->
        <div class="col">
          <div class="card border-0 mb-0" style="width:18rem;">
            <i class="bi bi-clock-history Serve-Icons" style="font-size: 50px; color: #8da5ba"></i>
            <div class="card-body"><h5 class="card-title"style="font-size: 18px;">جلسات فورية</h5></div>
          </div>
        </div>

        <!-- Third card -->
        <div class="col">
          <div class="card border-0 mb-0" style="width:18rem;">
            <i class="bi bi-chat-dots Serve-Icons" style="font-size: 50px; color: #8da5ba"></i>
            <div class="card-body"><h5 class="card-title"style="font-size: 18px;">مجموعات دعم</h5></div>
          </div>
        </div>

        <!-- Fourth card -->
        <div class="col">
          <div class="card border-0 mb-0" style="width:18rem;">
            <i class="bi bi-check2-circle Serve-Icons" style="font-size: 50px; color: #8da5ba"></i>
            <div class="card-body"><h5 class="card-title"style="font-size: 18px;">برامج علاجية</h5></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section>
  <div class="container" style="height: 20rem;">
      <div class="row justify-content-center align-items-center" style="height: 100%; width: 100%;">
          <div class="col text-center">
          <h2>خصوصية. جودة. أمان</h2>
          <p>جلسات نفسية على مدار الساعة ، بأمان وخصوصية ، يقدمها لك أفضل الأطباء و المعالجين النفسيين المرخصين.</p>
          <!-- <div class="col-auto m-1"><button class="bannerBtns2"><i>متوفر على </i><i class="">app store</i></button> </div> -->
           <button class="btn btn-outline-success p-2.5">حمل التطبيق الان <i class="bi bi-arrow-left-circle-fill" style="color: #f4743b;"></i></button>
      </div>
  </div>
  </div>
</section>

